header#main-header{
    width: 100%;
    height: 60px;
    background: #66bb6a;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: left;
    padding-left: 30px;
    align-items: center;
}